{% extends 'WTSemestralkaBundle::layout.html.twig' %}
{% block content %}
<h1>{% block title %}Model list{% endblock title %}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Author</th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Room</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.author }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.capacity }}</td>
            <td>{{ entity.room.name }}</td>
            <td>
                <ul>                    
                    <li>
                        <a href="{{ path('model_fill', { 'id': entity.id }) }}">fill</a>
                    </li>
                    <li>
                        <a href="{{ path('model_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('model_new') }}">
            Create a new entry from CSV
        </a>
    </li>
    <li>
        <a href="{{ path('modelApi') }}">
            Create a new entry in UI
        </a>
    </li>
</ul>
{% endblock content %}